#body {
  margin: 0
}

#container {
  >div {
    margin-bottom: 40px;
  }

  >:last-child {
    margin-bottom: 0;
  }

  background-color: hsl(212, 28%, 54%);
}

.node {
  width: max-content;

  >div {
    margin-bottom: 2px;
  }

  >:last-child {
    margin-bottom: 0;
  }
}

.key-value {

  display: grid;
  grid-template-columns: 1fr 8fr;
  background-color: hsl(212, 28%, 64%);

  >.key {
    background-color: hsl(212, 58%, 62%);
  }

  >.value {
    cursor: pointer;
  }

  >* {
    margin-right: 10px;
  }
}


.array {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  background-color: hsl(212, 28%, 64%);

  >.key {
    background-color: hsl(213, 32%, 73%);
  }

  >.value {
    min-height: 1rem;
    min-width: 5rem;
    background-color: hsl(212, 25%, 58%);

    >div {
      margin-bottom: 1px;
    }

    >:last-child {
      margin-bottom: 0;
    }
  }
}

.object {
  display: grid;
  grid-template-columns: 1fr 8fr;
  background-color: hsl(212, 36%, 72%);

  >.value {
    background-color: hsl(212, 65%, 45%);

    >div {
      margin-bottom: 1px;
    }

    >:last-child {
      margin-bottom: 0;
    }
  }

}